/* Home.module.css */
.mainMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use the full height of the viewport */
  padding: 20px;
  background-color: #f0f8ff;
  background-image: url("../../public/mainMenuBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

.greeting {
  margin-bottom: 20px;
}

.menuContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* This creates space between your menu items */
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px; /* Larger width for bigger squares */
  height: 350px; /* Larger height for bigger squares */
  background-color: #fffacd; /* White background */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1); /* Increased box shadow for styling */
  border-radius: 20px;
  position: relative;
  text-align: center;
  border: 4px solid black;
}

.heading {
  /* Added class for heading elements */
  margin: 0;
  padding: 15px;
  color: #333; /* Dark text color */
}
.logoutButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #fdbc46; /* Bootstrap primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid black;
}

.button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid black;
  border-radius: 25px;
}

.button:hover {
  background-color: #0056b3;
}

.logoutButton:hover {
  background-color: #fca80e;
}

.menuItem.color1 {
  background-color: #a64248;
  background: linear-gradient(220.55deg, #ff896d 0%, #d02020 100%);
}

.menuItem.color2 {
  background-color: #e5af59;
  background: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 150%);
}

.menuItem.color3 {
  background-color: #7292c3;
  background: linear-gradient(220.55deg, #24cfc5 0%, #001c63 200%);
}

.menuItem.color4 {
  background-color: #48a9b1;
  background: linear-gradient(180.55deg, #48a9b1 0%, #001c63 300%);
}

.button.color1 {
  background-color: #fdbc46;
  background-color: #e44d41;
  border: 2px solid black;
}

.button.color2 {
  background-color: #fdbc46;
}

.button.color3 {
  background-color: #2d4d90;
}

.button.color4 {
  background-color: #235a92;
}

.greetingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  margin-bottom: 2rem;
}

.greetingBox {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  border:2px solid black;
}

.greetingText {
  font-size: 30px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}
